.sectionWrapper {
  padding: 47px 47px 0 47px;
}

.footerWrapper {
  padding: 50px 98px;
  margin-top: -100px;
  background-color: #ffffff;
  border-radius: 19px 19px 2px 2px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer p {
  width: 344px;
  font-size: 20px;
  font-weight: 400;
  line-height: 26.9px;
  margin-top: 26px;
}

.footer h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 24.21px;
  color: #cf8900;
  margin-left: 40px;
}

.footer ul li {
  font-size: 14px;
  font-weight: 500;
  line-height: 20.02px;
  margin-top: 20px;
  list-style: none;
}

.divider {
  padding: 0;
  width: 100%;
}
.footerBottom {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.footerBottom img {
  margin-left: 28px;
}

@media (max-width: 678px) {
  .sectionWrapper {
    padding: 20px;
  }
  .footerWrapper {
    padding: 0;
    margin-top: 20px;
    background-color: transparent;
  }
  .footer {
    display: block;
  }

  .footer h3 {
    margin-top: 12px;
  }

  .footerBottom {
    flex-direction: column;
    align-items: center;
  }
  .footerBottom img {
    margin-left: 10px;
    margin-top: 20px;
  }
}
